:root {
  --primary-color: #F25C00;
  --accent-color: #fff8ec;
  --third-color: #1E1F26;
  --effect-color: #e2e2e2;
  --backup-color: #EFC81A;
  --subTitle-color: #4d4d4dc2;
  --Background-color: #F3F4F6;
  --primary-color-hover: #cc4502;
  --second-color-hover: #ffdaa5;
}

/* *BODY */
::selection {
  background-color: var(--primary-color);
  color: var(--accent-color);
}
/* *END OF BODY */

/* *<--- NAVBAR ---> */
#navbar {
  background-color: var(--primary-color);
  border-bottom: 1px solid rgba(255, 255, 255, 0.18);
}

#navbar .iconApp {
  width: 35px;
  margin-right: 10px;
}

#navbar .nameApp {
  margin-right: 30px;
  text-shadow: 3px 3px 7px rgba(0, 0, 0, 0.288);
}

#navbar .nameApp:hover {
  color: var(--second-color-hover);
}

#navbar .btnHome:hover {
  border-bottom: 2px solid  var(--accent-color);
  font-weight: bold;
}

#navbar .btnAddRecipe:hover {
  border-bottom: 2px solid  var(--accent-color);
  font-weight: bold;
}

#navbar .btnProfile:hover {
  border-bottom: 2px solid  var(--accent-color);
  font-weight: bold;
}

#navbar .menuProfile {
  background-color: var(--third-color);
}

#navbar .btnAuth .btnLogin {
  width: 80px;
  font-size: 14px;
  border-color: var(--accent-color);
  color: var(--accent-color);
}

#navbar .btnAuth .btnLogin:hover {
  background-color: var(--second-color-hover);
  border-color: var(--second-color-hover);
  color: var(--third-color);
}

#navbar .btnAuth .btnRegister {
  width: 80px;
  font-size: 14px;
  background-color: var(--accent-color);
  border-color: var(--accent-color);
  color: var(--third-color);
}

#navbar .btnAuth .btnRegister:hover {
  background-color: var(--second-color-hover);
  border-color: var(--second-color-hover);
}

#navbar .btnAuth .btnLoginMobile {
  display: none;
  width: 40px;
  background-color: var(--accent-color);
  border-color: var(--accent-color);
  padding: 3px 1px 6px 0;
}

#navbar .btnAuth .btnLoginMobile:hover {
  background-color: var(--second-color-hover);
  border-color: var(--second-color-hover);
  color: var(--third-color);
}

#navbar .btnAuth .btnLoginMobile .iconLogin {
  font-size: 23px;
  color: var(--third-color);
  margin: 0;
}
/* *<--- END OF NAVBAR ---> */

/* *\_______ RESPONSIVE FOR _______/ */
/* *<----------- MOBILE -----------> */

@media screen and (max-width:600px) {
  #navbar .iconApp {
    width: 30px;
    margin-right: 5px;
  }

  #navbar .btnAuth .btnLogin {
    display: none;
  }

  #navbar .btnAuth .btnRegister {
    display: none;
  }

  #navbar .btnAuth .btnLoginMobile {
    display: flex;
  }

  #navbar .btnAuth .btnLoginMobile {
  width: 35px;
  background-color: var(--accent-color);
  border-color: var(--accent-color);
  padding: 4px 0 5px 5px;
}

#navbar .btnAuth .btnLoginMobile:hover {
  background-color: var(--second-color-hover);
  border-color: var(--second-color-hover);
  color: var(--third-color);
}

#navbar .btnAuth .btnLoginMobile .iconLogin {
  font-size: 22px;
  color: var(--third-color);
  margin: 0;
}
}

/* *\_______ END OF RESPONSIVE FOR _______/ */
/* *<--------------- MOBILE --------------> */