/* CONTAINER FLUID */
.container-fluid {
   background-color: #dcdcdc;
   font-family: Arial, Helvetica, sans-serif;
}

/* LEFT */
.left {
   height: 667px;
   background-image: url(../asset/background.png);
   background-size: cover;
   background-position: 0 -115px;
   background-repeat: no-repeat;
}

.left .logo img {
   margin-top: 270px;
   width: 75px;
}

.left .name p {
   color: white;
   font: 11px Arial, Helvetica, sans-serif;
   font-weight: bold;
   letter-spacing: 1px;
}

/* RIGHT */
.right {
   background-color: white;
}

.form-register {
   margin: 195px auto;
}

.form-register .title h6 {
   font-weight: bold;
   font-size: 24px;
   color: #EFC81A;
}

.form-register .title p {
   font-size: 13px;
   font-family: arial;
   color: #8692A6;
   line-height: 25px;
}

.email {
   width: 320px;
   font-size: 11px;
   padding: 12px 12px 12px 20px;
   border-color: #8692A6;
}

.email:focus {
   box-shadow: 0px 4px 10px 3px rgba(0, 0, 0, 0.11);
   border-color: #EFC81A;
}

label {
   margin-left: 113px;
   font-size: 11px;
   color: #696F79;
   margin-top: 14px;
}

input {
   margin: auto;
}

/* CREAT ACCOUNT */
.send-email .btn {
   color: white;
   background-color: #EFC81A;
   font-size: 11px;
   margin: 20px 10px;
   padding: 10px 130px;
   border-radius: 5px;
}