/* CONTAINER FLUID */
#code-reset-password .container-fluid {
  background-color: #dcdcdc;
  font-family: Arial, Helvetica, sans-serif;
}

/* LEFT */
#code-reset-password .left {
  height: 667px;
  background-image: url(../../asset/background.png);
  background-size: cover;
  background-position: 0 -115px;
  background-repeat: no-repeat;
}

#code-reset-password .left .logo img {
  margin-top: 270px;
  width: 75px;
}

#code-reset-password .left .name p {
  color: white;
  font: 11px Arial, Helvetica, sans-serif;
  font-weight: bold;
  letter-spacing: 1px;
}

/* RIGHT */
#code-reset-password .right {
  background-color: white;
}

#code-reset-password .form-register {
  margin: 250px auto;
}

#code-reset-password .email {
  width: 320px;
  font-size: 11px;
  padding: 12px 12px 12px 20px;
  border-color: #8692A6;
}

#code-reset-password .email:focus {
  box-shadow: 0px 4px 10px 3px rgba(0, 0, 0, 0.11);
  border-color: #EFC81A;
}

#code-reset-password label {
  margin-left: 113px;
  font-size: 11px;
  color: #696F79;
  margin-top: 14px;
}

#code-reset-password input {
  margin: auto;
}

/* CREAT ACCOUNT */
#code-reset-password .send-email .btn {
  color: white;
  background-color: #EFC81A;
  font-size: 11px;
  margin: 20px 10px;
  padding: 10px 120px;
  border-radius: 5px;
}