:root {
  --primary-color: #F25C00;
  --accent-color: #fff8ec;
  --third-color: #1E1F26;
  --effect-color: #e2e2e2;
  --backup-color: #EFC81A;
  --subTitle-color: #4d4d4dc2;
  --Background-color: #F3F4F6;
  --primary-color-hover: #cc4502;
  --second-color-hover: #ffdaa5;
}

/* *BODY */
::selection {
  background-color: var(--primary-color);
  color: var(--accent-color);
}
/* *END OF BODY */

/* BODY */
#login-page .container-fluid {
  background-color: var(--accent-color);
  font-family: Arial, Helvetica, sans-serif;
}

/* SIDE-LEFT */
#login-page #login .side-left {
  height: 100vh;
  background-image: url(../../asset/background.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

#login-page #login .side-left img {
  width: 75px;
}

#login-page #login .side-left p {
  color: white;
  font: 16px Arial, Helvetica, sans-serif;
  font-weight: bold;
  letter-spacing: 1px;
  margin-top: 10px;
}

/* SIDE-RIGHT */
#login-page #login .side-right {
  background-color: white;
}

#login-page #login .side-right h3 {
  color: var(--primary-color);
}

#login-page #login .side-right p {
  color: #8692A6;
  font-size: 15px;
}

#login-page #login .side-right .alert {
  margin-bottom: 0;
}

/* SIDE-RIGHT | FORM-LOGIN */
#login-page .side-right .email,
#login-page .side-right .password {
  width: 320px;
  font-size: 11px;
  padding: 12px 12px 12px 20px;
  border-color: #8692A6;
}

#login-page .side-right .email:focus {
  box-shadow: 0px 4px 10px 3px rgba(0, 0, 0, 0.11);
  border-color: var(--primary-color);
}

#login-page .side-right .password:focus {
  box-shadow: 0px 4px 10px 3px rgba(0, 0, 0, 0.11);
  border-color: var(--primary-color);
}

#login-page .side-right label {
  margin-left: 3px;
  font-size: 11px;
  color: #696F79;
  margin-top: 14px;
}

#login-page .side-right .form-check-input {
  margin-left: 3px;
  font-size: 13px;
  margin-top: 15px;
  border-color: var(--primary-color);
}

#login-page .side-right .form-check-input:checked {
  background-color: var(--primary-color);
  border-color: var(--primary-color);
}

#login-page .side-right .form-check-input:focus {
  box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0.11);
  border-color: var(--primary-color);
}

#login-page .side-right .form-check-label {
  margin-left: 5px;
}

#login-page .side-right input {
  margin: auto;
}

/* LOGIN */
#login-page .login .btn {
  color: white;
  background-color: var(--primary-color);
  font-size: 11px;
  margin: 10px 0 10px 0;
  padding: 10px;
  width: 98%;
  border-radius: 5px;
}

/* FORGET PASSWORD */
#login-page .side-right .question .forget-password {
  font-size: 11px;
  color: #999999;
  text-decoration: none;
  margin-left: 230px;
}

#login-page .side-right .question .forget-password:hover {
  color: var(--primary-color);
  text-decoration: underline;
}

/* QUESTION SIGN UP*/
#login-page .side-right .question .question-signup p {
  margin-top: 100px;
}

#login-page .side-right .question .question-signup a {
  color: var(--primary-color);
  text-decoration: none;
}

#login-page .side-right .question .question-signup a:hover {
  color: var(--primary-color);
  text-decoration: underline;
}

/* *\_______ RESPONSIVE FOR _______/ */
/* *<----------- MOBILE -----------> */

@media screen and (max-width:600px) {
  #login-page .container-fluid {
    padding: 0;
    margin: 0;
  }
  
  /* SIDE-LEFT */
  #login-page #login .side-left {
    height: 130px;
    background-image: url(../../asset/bgMobileView4.jpg);
    background-size: cover;
    background-position: center -40px;
    background-repeat: no-repeat;
  }

  #login-page #login .side-left img {
    width: 50px;
  }

  #login-page #login .side-left p {
    color: white;
    margin-bottom: 0;
    font-size: 11px;
  }

  /* SIDE-RIGHT */
  #login-page #login .side-right {
    background-color: white;
    bottom: 0;
  }

  #login-page #login .side-right h3 {
    font-size: 30px;
  }
}

/* *\_______ END OF RESPONSIVE FOR _______/ */
/* *<--------------- MOBILE --------------> */