:root {
  --primary-color: #F25C00;
  --accent-color: #fff8ec;
  --third-color: #1E1F26;
  --effect-color: #e2e2e2;
  --backup-color: #EFC81A;
  --subTitle-color: #4d4d4dc2;
  --Background-color: #F3F4F6;
  --primary-color-hover: #cc4502;
  --second-color-hover: #ffdaa5;
}

/* *BODY */
::selection {
  background-color: var(--primary-color);
  color: var(--accent-color);
}
/* *END OF BODY */

/* CONTAINER FLUID */
#register-page .container-fluid {
  background-color: var(--accent-color);
  font-family: Arial, Helvetica, sans-serif;
}

/* LEFT */
#register-page .left {
  height: 100vh;
  background-image: url(../../asset/background.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

#register-page .left .logo img {
  width: 75px;
}

#register-page .left p {
  color: white;
  font: 16px Arial, Helvetica, sans-serif;
  font-weight: bold;
  letter-spacing: 1px;
  margin-top: 10px;
}

/* RIGHT */
#register-page .right {
  background-color: white;
  overflow: auto;
  height: 100vh;
}

#register-page .form-register .title h6 {
  font-weight: bold;
  font-size: 24px;
  color: var(--primary-color);
}

#register-page .form-register .title p {
  font-size: 13px;
  font-family: arial;
  color: #8692A6;
}

#register-page .btnDiv .form-image {
  width: 90px;
  height: 90px;
  cursor: pointer;
  border: 1px solid var(--primary-color);
}

#register-page .form-register .alert {
  margin: 10px 0 0 0;
}

#register-page .username, #register-page .email, #register-page .phone, #register-page .password {
  width: 320px;
  font-size: 11px;
  padding: 12px 12px 12px 20px;
  border-color: #8692A6;
}

#register-page .password {
  margin-bottom: 20px;
}

#register-page .username:focus {
  box-shadow: 0px 4px 10px 3px rgba(0, 0, 0, 0.11);
  border-color: var(--primary-color);
}

#register-page .email:focus {
  box-shadow: 0px 4px 10px 3px rgba(0, 0, 0, 0.11);
  border-color: var(--primary-color);
}

#register-page .phone:focus {
  box-shadow: 0px 4px 10px 3px rgba(0, 0, 0, 0.11);
  border-color: var(--primary-color);
}

#register-page .password:focus {
  box-shadow: 0px 4px 10px 3px rgba(0, 0, 0, 0.11);
  border-color: var(--primary-color);
}

#register-page label {
  margin-left: 113px;
  font-size: 11px;
  color: #696F79;
  margin-top: 14px;
}

#register-page .form-check-input {
  margin-left: 113px;
  font-size: 13px;
  margin-top: 15px;
  border-color: var(--primary-color);
}

#register-page .form-check-input:checked {
  background-color: var(--primary-color);
  border-color: var(--primary-color);
}

#register-page .form-check-input:focus {
  box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0.11);
  border-color: var(--primary-color);
}

#register-page .form-check-label {
  margin-left: 5px;
}

#register-page input {
  margin: auto;
}

/* CREAT ACCOUNT */
#register-page .creat-account .btn {
  color: white;
  background-color: var(--primary-color);
  font-size: 11px;
  margin: 10px;
  padding: 10px 118px;
  border-radius: 5px;
}

/* QUESTION LOG IN*/
#register-page .question {
  font-size: 11px;
  color: #999999;
  margin-top: 7px;
}

#register-page .question a {
  color: var(--primary-color);
  text-decoration: none;
}

#register-page .question a:hover {
  color: var(--primary-color);
  text-decoration: underline;
}

/* *\_______ RESPONSIVE FOR _______/ */
/* *<----------- MOBILE -----------> */

@media screen and (max-width:600px) {
  #register-page .container-fluid {
    padding: 0;
    margin: 0;
  }
  
  /* SIDE-LEFT */
  #register-page .left {
    height: 130px;
    background-image: url(../../asset/bgMobileView4.jpg);
    background-size: cover;
    background-position: center -40px;
    background-repeat: no-repeat;
  }

  #register-page .left .logo img {
    width: 50px;
  }

  #register-page .left .logo p {
    color: white;
    margin-bottom: 0;
    font-size: 11px;
  }

  /* SIDE-RIGHT */
  #register-page .right {
    background-color: white;
    bottom: 0;
  }

  #register-page .username, #register-page .email, #register-page .phone, #register-page .password {
    width: 85vw;
  }

  #register-page .form-register .title h6 {
    font-size: 25px;
  }

  #register-page label {
    margin-left: 20px;
    font-size: 11px;
    color: #696F79;
    margin-top: 14px;
  }

  #register-page .form-check-input {
    margin-left: 113px;
    font-size: 13px;
    margin-top: 15px;
    border-color: var(--primary-color);
  }
}

/* *\_______ END OF RESPONSIVE FOR _______/ */
/* *<--------------- MOBILE --------------> */