/* CONTAINER FLUID */
#reset-password .container-fluid {
   background-color: #dcdcdc;
   font-family: Arial, Helvetica, sans-serif;
}

/* LEFT */
#reset-password .left {
   height: 667px;
   background-image: url(../../asset/background.png);
   background-size: cover;
   background-position: 0 -115px;
   background-repeat: no-repeat;
}

#reset-password .left .logo img {
   margin-top: 270px;
   width: 75px;
}

#reset-password .left .name p {
   color: white;
   font: 11px Arial, Helvetica, sans-serif;
   font-weight: bold;
   letter-spacing: 1px;
}

/* RIGHT */
#reset-password .right {
   background-color: white;
}

#reset-password .form-register {
   margin: 190px auto;
}

#reset-password .password {
   width: 320px;
   font-size: 11px;
   padding: 12px 12px 12px 20px;
   border-color: #8692A6;
}

#reset-password .password:focus {
   box-shadow: 0px 4px 10px 3px rgba(0, 0, 0, 0.11);
   border-color: #EFC81A;
}

#reset-password label {
   margin-left: 113px;
   font-size: 11px;
   color: #696F79;
   margin-top: 14px;
}

#reset-password .form-check-input {
   margin-left: 113px;
   font-size: 13px;
   margin-top: 15px;
   border-color: #EFC81A;
}

#reset-password .form-check-input:checked {
   background-color: #EFC81A;
   border-color: #EFC81A;
}

#reset-password .form-check-input:focus {
   box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0.11);
   border-color: #EFC81A;
}

#reset-password .form-check-label {
   margin-left: 5px;
}

#reset-password input {
   margin: auto;
}

/* LOGIN */
#reset-password .reset-password .btn {
   color: white;
   background-color: #EFC81A;
   font-size: 11px;
   margin: 10px;
   padding: 15px 120px;
   border-radius: 5px;
}