/* PROFIL */
#profile-page #profile .photo img {
  width: 100px;
  border-radius: 50px;
}

/* RECIPE */
#profile-page #recipe .card .btn {
  background-color: #EFC81A;
  border-color: #EFC81A;
}

/* FOOTER */
#profile-page #footer {
  margin-top: 100px;
  padding-top: 140px;
  padding-bottom: 40px;
  background-color: #EFC81A;
  right: 0;
}

#profile-page #footer .nav-footer ul li a {
  color: #707070;
}